
/***************************TAG Selectors****************************/

body {  background-color: #8ac6d1}

h1 {color: #fcf8e8;font-size: 50px;}

h3 {color: #fcf8e8;}

hr {
  border-style: dotted none none;
  border-width:5px;
  border-color: #fcf8e8;
  width: 5%;
}



img {  height: 220px;}



/***************************CLASS Selectors****************************/
.Vera {
background-color: #8ac6d1; }


.Ghibli{
background-color: #8ac6d1;}

/***************************ID Selectors******************************/

#heading {
  color: #fcf8e8;}
